<div class="about-container row">
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" src="{{ face }}" alt="Imagen de perfil" width="280">
        <h1 class="name text-center">Mi Nombre</h1>
        <p class="qualification text-center">
            Full Stack Web Developer
        </p>
    </div>
    <div class="text-about col-9">
        <h3 class="section-title">Sobre Mi</h3>
        <p class="about-description text-justify">Lorea ipsum dolor sit amet, consectetur adipisicing elit. Eni
            officials soluta,
            illo natus ipsum labore fugiat
            nhhl, et corrupti voluptatibus id accusamus sequi possimus explicabo quod dicta excepturi voluptatum
            consequuntur veniam? Odio harum nunquam unde accusantium, man, voluptatem nostrum fuga non cum tenetu
            Laborum nullitia aspernatur voluptates?
        </p>
    </div>
</div>