.about-container {
    margin: 0 50px;
    position: relative;
    padding-top: 5%;
  }
  
  .qualification-container {
    position: relative;
  }
  
  .qualification-container .faceImg {
    border-radius: 50%;
    width: 50%;
    position: absolute;
    top: -11vw;
    left: 7%;
  }
  
  .qualification-container h1 {
    text-shadow: 3px 3px 5px #fff;
  }
  
  .qualification-container .name {
    font-size: 3rem;
  }
  
  .qualification-container .qualification {
    font-size: 2rem;
  }
  