body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .exteriro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px;
  }
  
  .character-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 300px; /* Tamaño fijo para los contenedores */
    transition: transform 0.3s ease; /* Transición suave para el hover */
  }
  
  .character-container:hover {
    transform: translateY(-5px); /* Elevar el contenedor al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .character-container h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em; /* Aumenta el tamaño de la fuente para el nombre */
  }
  
  .character-container img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .character-container p {
    color: #666;
    margin: 5px 0;
    font-size: 1em;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .character-container {
      width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }
  }
  
  /* Estilos adicionales para un tema oscuro */
  .dark-theme {
    background-color: #333;
    color: #eee;
  }
  
  .dark-theme .character-container {
    background-color: #444;
    color: #eee;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  
  .dark-theme .character-container h2 {
    color: #ddd;
  }
  
  .dark-theme .character-container p {
    color: #ccc;
  }
  